html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  font-family: "Manrope", sans-serif;
  background-color: #1a1a1a;
  color: white;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#formWrapper {
  background-color: transparent;
  height: 20dvh;
}

#locationSearchForm {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

#locationSearchForm:hover {
  width: 300px;
  cursor: pointer;
}

#searchLabel {
  display: none;
}

#locationSearchInput {
  font-family: "Manrope";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1.2em;
  border-radius: 20px;
  padding: 0 20px;
  background: white;
}

#locationSearchForm:hover input {
  display: block;
}

#locationSearchForm:hover .fa-magnifying-glass {
  background: #223355;
  color: #dcecff;
}

#submitButton {
  display: none;
}

.fa-github {
  color: #87d1ff;
}

#infoBar {
  background-color: #0d1b2a;
  padding: 0.4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 1.2rem;
  font-weight: 700;
}

.fa-magnifying-glass {
  color: #162a53;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  transform: all 1s;
}

#appDisplay {
  height: 80dvh;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  gap: 1rem;
}

#currentCard {
  box-shadow: 0px 0px 20px 2px #0d1b2a;
  border-radius: 10px;
  background-color: #778da9;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#currentName {
  order: 1;
  font-size: 26px;
  font-weight: 600;
  color: #0a2647;
  width: 100%;
  line-height: 30px;
}

#currentName::after {
  content: ",";
}

#currentRegion {
  order: 2;
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
  color: #284d96;
  width: 100%;
}

#currentRegion::after {
  content: ",";
}

#currentCountry {
  order: 3;
  font-size: 20px;
  font-weight: 800;
  color: #253658;
}

#conditionInfo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
}

#windRainInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#windInfo {
  display: flex;
  gap: 5px;
}

#currentTime {
  order: 3;
  font-weight: 700;
  color: #003cb3;
}

#currentCondition {
  order: 2;
  font-weight: 800;
}

#currentTempF,
#currentTempC {
  order: 1;
  color: #87d1ff;
  font-size: 1.4rem;
  font-weight: 800;
}

#currentWindMPH {
  order: 1;
}

#currentWindDirection {
  order: 2;
}

#currentInchesRain {
}

#forecastWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forecastCard {
  flex: none;
  box-shadow: 0px 0px 20px 2px #0d1b2a;
  border-radius: 10px;
  padding: 10px 15px;
  height: 125px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#dateConditionWrapper {
  width: 100%;
}

#tempsWrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 150px;
}

#tempsWrapper div {
  width: fit-content;
}

#todayChanceOfRain,
#tomorrowChanceOfRain,
#overmorrowChanceOfRain {
  order: 99;
}

#tempsCoRWrapper {
  display: flex;
  justify-content: space-between;
}

#todayDate::before {
  content: "Today, ";
}

#tomorrowDate::before {
  content: "Tomorrow, ";
}

#overmorrowDate::before {
  content: "Overmorrow, ";
}

#todayDate,
#tomorrowDate,
#overmorrowDate {
  font-weight: 800;
  color: #ffffff;
}

#todayCondition,
#tomorrowCondition,
#overmorrowCondition {
  font-weight: 800;
  color: #87d1ff;
}

#todayMinTempF,
#todayMinTempC,
#tomorrowMinTempF,
#tomorrowMinTempC,
#overmorrowMinTempF,
#overmorrowMinTempC {
  font-weight: 600;
  color: #041e52;
}

#todayAvgTempF,
#todayAvgTempC,
#tomorrowAvgTempF,
#tomorrowAvgTempC,
#overmorrowAvgTempF,
#overmorrowAvgTempC {
  font-weight: 600;
  color: #eef0fb;
}

#todayMaxTempF,
#todayMaxTempC,
#tomorrowMaxTempF,
#tomorrowMaxTempC,
#overmorrowMaxTempF,
#overmorrowMaxTempC {
  font-weight: 600;
  color: #b1cbff;
}

#loadSquare {
  height: 75px;
  width: 75px;
  border: 6px solid #ccc;
  border-right-color: #4e89ff;
  position: relative;
  top: 45%;
  left: 42%;
  transform: translate(-50%, -50%);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#infoWrapper {
  display: flex;
  padding: 0.4rem 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.isDay {
  background-color: #668cd6;
}

.isNight {
  background-color: #0e1f41;
}

#tempWrapper {
  cursor: pointer;
  background-color: #87d1ff;
  color: #0d1b2a;
  padding: 0.5em 0.75em;
  border-radius: 100%;
}

#loadingOverlay {
  z-index: 999;
  background-color: hsla(208, 87%, 3%, 0.857);
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  bottom: 0;
  display: none;
}

.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #0d1b2a, #778da9);
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

.background div {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
}

.background div:nth-child(1) {
  background: linear-gradient(132deg, #778da9 0%, #778da9 100%);
  width: 61%;
  padding-top: 61%;
  left: 64%;
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
  background: linear-gradient(10deg, #778da9 0%, #e0e1dd 100%);
  width: 53%;
  padding-top: 53%;
  left: 73%;
  top: 18%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
  background: linear-gradient(100deg, #415a77 0%, #0d1b2a 100%);
  width: 150%;
  padding-top: 150%;
  left: 68%;
  top: 19%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(4) {
  background: linear-gradient(100deg, #415a77 0%, #1b263b 100%);
  width: 150%;
  padding-top: 150%;
  left: 91%;
  top: 85%;
  transform: translateX(-50%) translateY(-50%);
}
