html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  font-family: 'Manrope', sans-serif;
  background-color: #1a1a1a;
  color: white;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#formWrapper {
  background-color: transparent;
  height: 20dvh;
}


#locationSearchForm {
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

#locationSearchForm:hover {
  width: 300px;
  cursor: pointer;
}

#searchLabel {
  display: none;
}

#locationSearchInput {
  font-family: 'Manrope';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1.2em;
  border-radius: 20px;
  padding: 0 20px;
  background: white;
}

#locationSearchForm:hover input {
  display: block;
}

#locationSearchForm:hover .fa-magnifying-glass {
  background: #223355;
  color: #DCECFF;
}

#submitButton {
  display: none;
}

.fa-github {
  color: #4e89ff;
}

#infoBar {
  background-color: #0d1b2a;
  padding: 0.4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 1.2rem;
  font-weight: 700;
}

.fa-magnifying-glass {
  color: #162A53;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  transform: all 1s;
}

#appDisplay {
  height: 80dvh;
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  justify-content: safe space-evenly;
  overflow-y: scroll;
}

#currentCard {
  box-shadow: 0px 0px 20px 2px #0d1b2a;
  border-radius: 10px;
  background-color: #778da9;
  padding: 5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: space-around;
  align-content: space-around;
  gap: 0.5rem;
  grid-template-areas: 
  "currentName currentName currentTemp currentTime"
  "currentRegion . . ."
  "currentCountry . . ."
  "currentCountry . currentInchesRain currentInchesRain"
  "currentCondition . currentWindMPH currentWindDirection"
  "currentCondition . . ."
  ;
}

#forecastWrapper {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 10px;
}

.forecastCard {
  flex: none;
  box-shadow: 0px 0px 20px 2px #0d1b2a;
  border-radius: 10px;
  padding: 5%;
  height: 125px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-rows: auto;
  grid-template-areas:
    "todayDate todayCondition todayCondition todayCondition"
    ". . . ."
    "todayCOR todayMinTemp todayAvgTemp todayMaxTemp"
    "todayCOR todayMinTemp todayAvgTemp todayMaxTemp";
}


#todayDate,
#tomorrowDate,
#overmorrowDate {
  grid-area: todayDate;
  font-weight: 800;
  color: #ffffff;
}

#todayCondition,
#tomorrowCondition,
#overmorrowCondition {
  grid-area: todayCondition;
}

#todayMinTempF,
#todayMinTempC,
#tomorrowMinTempF,
#tomorrowMinTempC,
#overmorrowMinTempF,
#overmorrowMinTempC {
  grid-area: todayMinTemp;
  font-weight: 600;
  color: #041e52;
}

#todayAvgTempF,
#todayAvgTempC,
#tomorrowAvgTempF,
#tomorrowAvgTempC,
#overmorrowAvgTempF,
#overmorrowAvgTempC {
  grid-area: todayAvgTemp;
  font-weight: 600;
  color: #eef0fb;
}

#todayMaxTempF,
#todayMaxTempC,
#tomorrowMaxTempF,
#tomorrowMaxTempC,
#overmorrowMaxTempF,
#overmorrowMaxTempC {
  grid-area: todayMaxTemp;
  font-weight: 600;
  color: #b1cbff;
}

#todayChanceOfRain,
#tomorrowChanceOfRain,
#overmorrowChanceOfRain {
  grid-area: todayCOR;
}


#loadSquare {
  height: 75px;
  width: 75px;
  border: 6px solid #ccc;
  border-right-color: #4e89ff;
  position: relative;
  top: 45%;
  left: 42%;
  transform: translate(-50%, -50%);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#infoWrapper {
  display: flex;
  padding: 0.4rem 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.isDay {
  background-color: #668cd6;
}

.isNight {
  background-color: #0e1f41;
}

#tempWrapper {
  cursor: pointer;
  background-color: #DCECFF;
  color: #0d1b2a;
  padding: 0.5em 0.75em;
  border-radius: 100%;
}

#loadingOverlay {
  z-index: 999;
  background-color: hsla(208, 87%, 3%, 0.857);
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  bottom: 0;
  display: none;
}


#currentName {
  font-size: 1.4em;
  font-weight: 800;
  color: #0a2647;
  grid-area: currentName;
}

#currentRegion {
 font-size: 1em;
 font-weight: 700;
 color: #284d96;
 grid-area: currentRegion;
}

#currentCountry {
  font-size: 0.8em;
  font-weight: 600;
  color: #14171d;
  grid-area: currentCountry;
}

#currentTime {
  font-weight: 700;
  color: #003cb3;
  grid-area: currentTime;
}

#currentCondition {
  grid-area: currentCondition;
  font-weight: 400;
}

#currentTempF,
#currentTempC {
  grid-area: currentTemp;
  color: #9abcff;
  font-size: 1.4rem;
  font-weight: 800;
}

#currentWindDirection {
  grid-area: currentWindDirection;
}

#currentWindMPH {
  grid-area: currentWindMPH;
}

#currentInchesRain {
  grid-area: currentInchesRain;
}






.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #0d1b2a, #778da9);
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

.background div {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
}

.background div:nth-child(1) {
  background: linear-gradient(132deg, #778da9 0.00%, #778da9 100.00%);
  width: 61%;
  padding-top: 61%;
  left: 64%;
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
  background: linear-gradient(10deg, #778da9 0.00%, #e0e1dd 100.00%);
  width: 53%;
  padding-top: 53%;
  left: 73%;
  top: 18%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
  background: linear-gradient(100deg, #415a77 0.00%, #0d1b2a 100.00%);
  width: 150%;
  padding-top: 150%;
  left: 68%;
  top: 19%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(4) {
  background: linear-gradient(100deg, #415a77 0.00%, #1b263b 100.00%);
  width: 150%;
  padding-top: 150%;
  left: 91%;
  top: 85%;
  transform: translateX(-50%) translateY(-50%);
}
